/* #book-review-wrapper {
    margin: 0 auto 50px;
    width: 1200px;
    max-width: 100%;
}
.book-title {
    margin: 0 auto 30px;
}
.book-review-content {
    margin: 0 auto 30px;
}
.book-review-thumb.float-left {
    float: left;
    width: 30%;
    margin: 0 0 20px 0;
    padding: 0;
    box-sizing: border-box;
}
.book-review-thumb img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.book-review-details.float-left {
    float: left;
    width: 70%;
    margin: 0 auto 20px;
    padding: 0 0 0 25px;
    box-sizing: border-box;
}
.book-review-details-list {
    margin: 0 auto 12px;
    padding: 0 0 0 20px;
}
.book-review-details-list li {
    margin: 0 auto 8px;
}
.book-rating {
    margin-bottom: 10px;
}
.rating-status {
    margin: 0 auto 20px;
    font-size: 15px;
    line-height: 1;
    font-weight: bold;
}
.rating-status.status-success{
    color: #008000;
}
.rating-status.status-error{
    color: #FF0000;
} */
